.product-card {
  width: 90%;
  margin: 50px auto;
}

.product-image img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
}

.product-price {
  color: #007bff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rating {
  font-size: 14px;
  color: #ff9900;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}

.add-to-cart-btn {
  outline: none;
  border: none;
  width: 150px;
  color: white;
  background-color: #007bff;
  padding: 7px 0;
}

.add-to-cart-btn:focus {
  outline: none;
}

.add-to-cart-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buy-btn {
  outline: none;
  border: none;
  width: 150px;
  color: white;
  background-color: rgb(255, 159, 0);
  padding: 7px 0;
  margin-left: 20px;
}

.buy-btn:focus {
  outline: none;
}

.buy-btn:hover {
  background-color: rgb(251, 100, 27);
}

@media (max-width: 576px) {
  .product-card {
    display: flex;
    flex-direction: column;
  }

  .product-details {
    width: 95%;
    margin: 0 auto;
  }

  .add-to-cart-btn {
    width: 130px;
  }

  .product-image img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    border-radius: 10px;
  }

  .buy-btn {
    margin-left: 6px;
    width: 130px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .add-to-cart-btn {
    width: 105px;
  }

  .buy-btn {
    width: 105px;
    margin-left: 7px;
  }
}

/* **************************************

related products 

*************************************** */

#related-product-section{
  margin-bottom: 50px;
}
.related-products-title {
  margin: 20px 0;
  text-align: center;
}

.related-products-title h3 {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  font-family: "Playfair Display", serif;
}

.related-products-title span {
  color: #f7444e;
}

/* .related-product-title h3{
   text-align: center;
   margin-bottom: 30px;
} */

.cardlink {
  text-decoration: none;
  color: #000000;
}

.cardlink:hover {
  text-decoration: none;
  color: #000000;
}

.cardItem {
  padding: 10px 25px;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 4px;
}

.cardItem:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: contain;
}

.related-product-title {
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.related-card-rating {
  font-size: 1rem;
  font-weight: 500;
  color: green;
  padding-left: 20px;
  margin-bottom: 0;
}

.price {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 0;
}
.cardHover-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease, visibility 0.3s ease;
  
}

.cardItem:hover .cardHover-btn{
  opacity: 1;
  visibility: visible;
}

@media (max-width: 376px) {
  .related-product-title h3 {
    font-size: 2rem;
  }
}

@media (min-width: 376px) and (max-width: 576px) {
  .related-product-title h3 {
    font-size: 2.5rem;
  }
}


@media (max-width: 576px) {
  .cardItem {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .card-img {
    width: 150px;
  }
}

@media (min-width: 992px) {
  .related-product-title,
  .related-card-rating,
  .price {
    padding-left: 60px;
  }
}
